$def with()
<h1>Insertar Notificación</h1>

<form method="POST">
    <div class="mb-3">
        <label class="form-label" for="id_usuario">ID Usuario:</label>
        <input type="number" class="form-control" id="id_usuario" name="id_usuario">
    </div>

    <div class="mb-3">
        <label class="form-label" for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo">
    </div>

    <div class="mb-3">
        <label class="form-label" for="mensaje">Mensaje:</label>
        <input type="text" class="form-control" id="mensaje" name="mensaje">
    </div>

    <div class="mb-3">
        <label class="form-label" for="leida">Leída (1/0):</label>
        <input type="text" class="form-control" id="leida" name="leida">
    </div>

    <div class="mb-3">
        <a href="/lista_notificaciones"><button type="button" class="btn btn-secondary">Regresar</button></a>
        <button type="submit" name="insertar" value="insertar" class="btn btn-primary">Insertar</button>
    </div>
</form>
