$def with(item, mensaje)
<h1>Borrar Faena</h1>

$if mensaje is not None:
    <div class="alert alert-danger">$mensaje</div>

$if item == {}:
    <h1>Ups, no existe este registro</h1>
    <a href="/lista_faenas"><button type="button" class="btn btn-secondary">Regresar</button></a>
$else:
    <p>¿Confirmas que deseas borrar el siguiente registro?</p>
    <table class="table table-bordered w-auto">
        <tr><th>ID</th><td><input type="text" class="form-control" value="$item['id_faena']" readonly></td></tr>
        <tr><th>ID Usuario responsable</th><td><input type="text" class="form-control" value="$item['id_usuario']" readonly></td></tr>
        <tr><th>Descripción</th><td><input type="text" class="form-control" value="$item['descripcion']" readonly></td></tr>
        <tr><th>Fecha</th><td><input type="text" class="form-control" value="$item['fecha']" readonly></td></tr>
        <tr><th>Hora</th><td><input type="text" class="form-control" value="$item['hora']" readonly></td></tr>
        <tr><th>Fecha límite</th><td><input type="text" class="form-control" value="$item['limite_fecha']" readonly></td></tr>
        <tr><th>Multa</th><td><input type="text" class="form-control" value="$item['multa']" readonly></td></tr>
    </table>
    <form method="POST">
        <a href="/lista_faenas"><button type="button" class="btn btn-secondary">Regresar</button></a>
        <button type="submit" name="borrar" value="borrar" class="btn btn-danger">Borrar</button>
    </form>
