$def with()
<h1>Insertar Área de riego</h1>

<form method="POST">
    <div class="mb-3">
        <label class="form-label" for="nombre">Nombre del área:</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>

    <div class="mb-3">
        <label class="form-label" for="suficiente">¿Nivel suficiente? (1/0):</label>
        <input type="text" class="form-control" id="suficiente" name="suficiente">
    </div>

    <div class="mb-3">
        <label class="form-label" for="ubicacion">Ubicación:</label>
        <input type="text" class="form-control" id="ubicacion" name="ubicacion">
    </div>

    <div class="mb-3">
        <a href="/lista_area_riego"><button type="button" class="btn btn-secondary">Regresar</button></a>
        <button type="submit" name="insertar" value="insertar" class="btn btn-primary">Insertar</button>
    </div>
</form>
