$def with(item, mensaje)
<h1>Borrar Rol</h1>

$if mensaje is not None:
    <div class="alert alert-danger">$mensaje</div>

$if item == {}:
    <h1>Ups, no existe este registro</h1>
    <a href="/lista_roles"><button type="button" class="btn btn-secondary">Regresar</button></a>
$else:
    <p>¿Confirmas que deseas borrar el siguiente registro?</p>
    <table class="table table-bordered w-auto">
        <tr><th>ID</th><td><input type="text" class="form-control" value="$item['id_rol']" readonly></td></tr>
        <tr><th>Nombre del rol</th><td><input type="text" class="form-control" value="$item['nombre_rol']" readonly></td></tr>
        <tr><th>Descripción</th><td><input type="text" class="form-control" value="$item['descripcion']" readonly></td></tr>
    </table>
    <form method="POST">
        <a href="/lista_roles"><button type="button" class="btn btn-secondary">Regresar</button></a>
        <button type="submit" name="borrar" value="borrar" class="btn btn-danger">Borrar</button>
    </form>
